@font-face {
    font-family: "ProximaBlack";
    src: url("/assets/fonts/ProximaNova-Black.ttf")
    format('truetype');
}
@font-face {
    font-family: "ProximaBold";
    src: url("/assets/fonts/ProximaNova-Bold.ttf")
    format('truetype');
}
@font-face {
    font-family: "ProximaExtraBold";
    src: url("/assets/fonts/ProximaNova-Extrabld.ttf")
    format('truetype');
}
@font-face {
    font-family: "ProximaLight";
    src: url("/assets/fonts/ProximaNova-Light.ttf")
    format('truetype');
}
@font-face {
    font-family: "ProximaRegular";
    src: url("/assets/fonts/ProximaNova-Regular.ttf")
    format('truetype');
}
@font-face {
    font-family: "ProximaSemibold";
    src: url("/assets/fonts/ProximaNova-Semibold.ttf")
    format('truetype');
}
@font-face {
    font-family: "ProximaThin";
    src: url("/assets/fonts/ProximaNovaT-Thin.ttf")
    format('truetype');
}